<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682514458101-cldu3bkhqe58maa94duvj62ppu1s4lce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682514458101-cldu3bkhqe58maa94duvj62ppu1s4lce</string>
	<key>API_KEY</key>
	<string>AIzaSyD0G2WUi2m9dNfc0mOlQLmtyo110g2OO3M</string>
	<key>GCM_SENDER_ID</key>
	<string>682514458101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonghun.firebaseinstagram</string>
	<key>PROJECT_ID</key>
	<string>fir-instagram-65ffc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-instagram-65ffc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682514458101:ios:8b1948a9edb051054e2cbc</string>
</dict>
</plist>